.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  position: relative;
  
  
  
  
}

.video-item.item img {
  max-width: 140px;
  
  
}



.video-item.item p {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(12, 11, 11, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;


}

.video-item.item:hover p {
  visibility: visible;
  opacity: 1;
}